parameters:
	paths:
		- app
	level: 7
	inferPrivatePropertyTypeFromConstructor: true
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	excludePaths:
		- %currentWorkingDirectory%/app/Providers/*
	ignoreErrors:
		- '#Access to an undefined property App\\(Models|Http\\Resources)\\.*#'
		- '#Call to an undefined method App\\Http\\Resources\\.*#'
		- '#Method App\\(Models|Http\\Controllers)\\.* has no return type specified\.#'
		- '#Method App\\Models(\\[a-zA-Z]+)+::scope[a-zA-Z]+\(\) has parameter \$[a-zA-Z]+ with no type specified\.#'
		- '#Call to an undefined (static )?method Illuminate\\.*#'
		- '#Unable to resolve the template type (TKey|TValue) in call to function collect.*#'
		- '#Using nullsafe property access on non-nullable type mixed. Use -> instead\.#'
		- '#Call to an undefined static method App\\Models(\\[a-zA-Z]+)+::(orderByDesc|whereHas|where|whereHasMorph|updateOrCreate)\(\)\.#'
		- '#Call to protected method increment\(\) of class Illuminate\\Database\\Eloquent\\Model\.#'
		- '#Function [a-zA-Z]*\(\) should return Illuminate\\Database\\Eloquent\\Builder but returns Illuminate\\Database\\Query\\Builder\.#'
		- '#Parameter \#1 \$value of function collect expects Illuminate\\Contracts\\Support\\Arrayable<\(int\|string\), mixed>\|iterable<\(int\|string\), mixed>|null, (string|int|) given\.#'