/* Popup: 70 - 90 */
.z-index-popup {
  z-index: 70;
}

/* navbar: 99 - 120 */
.z-index-header-navbar {
  z-index: 99;
}

/* Popup over everything: 130 - 150 */
.z-index-popup-over-everything {
  z-index: 130;
}
